.category-row {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.category-item img {
  width: 30px;
  height: 30px;
}

.category-item span {
  font-size: 12px;
}

/* Additional styles for the arrows */
.slick-arrow {
  cursor: pointer;
}

.slick-prev {
  margin-right: 10px;
}

.slick-next {
  margin-left: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .category-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-item {
    width: 60px;
    height: 60px;
  }
}
