* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#about-section {
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  justify-content: center;
}
.allcontent{
  display: flex;
  justify-content: center;
}


.about-left img {
  width: 100%;
  max-width: 350px;
  margin-left: 140px;
  
}
.allcont{
  display: flex;
  justify-content: center;
}
.aboutme{
  text-align: center;
  color: white;
}
.about-left .img1 {
  width: 600px;
  height: 450px;
  max-width: 100%;
  max-height: 3000px;
  border: 1px solid white;
  border-radius: 10px;
}
.about-left .img2 {
  width: 600px;
  height: 450px;
  max-width: 100%;
  max-height: 3000px;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 45px;
}

.about-right {
  width: 100%;
  max-width: 54%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
  /* Center horizontally */
  justify-content: center;
}

.aboutme{
  text-align: center;
  margin-left: 150px;
}

.about-right ul li {
  display: flex;
  align-items: center;
}

.about-right h1 {
  color: #e74d06;
  font-size: 37px;
}

.about-right .address {
  margin: 2px 0;
}

.address .address-logo {
  margin-right: 15px;
  color: #e74d06;
}

.matter {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 125px;
}

.about-right .expertise ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.expertise .expertise-logo {
  font-size: 19px;
  margin-right: 10px;
  color: #e74d06;
}

/* Media Queries */

@media (max-width: 768px) {
  #about-section {
    flex-direction: column;
    align-items: center;
    padding: 5% 2%;
    border-radius: 15px;
  }

  .about-left img {
   
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto; /* Center horizontally */
  }

  .about-right {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; /* Center horizontally */
  }


  .about-right .expertise ul {
    width: 100%;
  }
}